name: GitHub server installation

on:
  push:
  workflow_dispatch:
    inputs:
      tags:
        required: False
        description: 'Optional. Use a "tag expression" specify which tagged tests to run (https://cucumber.io/docs/cucumber/api/#tag-expressions)'
      show_docker_output:
        required: false
        default: false
        type: boolean
        description: 'Show the docker logs while building the GitHub server container. It will also save the docker log artifact. This might show sensitive config information.'
      #### Developer note: You probably don't need this
      enable_tmate:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:

  github-server-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    env:
      SECRET_VAR1: secret-var1-value
      SECRET_VAR2: secret-var2-value
      SECRET_FOR_MISSING_FIELD: secret for missing field
      
    steps:
      #### Developer note: You probably don't need this
      # Place the root directory in this branch to access
      # relative paths to action files
      - uses: actions/checkout@v3

      - name: ALKiln - Start the isolated temporary docassemble server on GitHub
        id: github_server
        #### Developer note: you'll need to replace `.` with the path to
        #### the repo and branch. For example:
        #### suffolkLITLab/ALKiln@v5/action_for_github_server
        uses: ./action_for_github_server
        with:
          CONFIG_CONTENTS: "${{ secrets.CONFIG_CONTENTS }}"
          #### Developer note: Set this to True to show docker logs and
          #### allow ALKiln to create the docker logs output artifact.
          SHOW_DOCKER_OUTPUT: "${{ github.event.inputs.show_docker_output }}"
      - run: echo "ALKiln finished starting the isolated GitHub docassemble server"
        shell: bash

      #### Developer note: You probably don't need this
      # Optional debugging to explore things like config issues
      - name: Docker debug tmate session
        if: ${{ github.event.inputs.enable_tmate }}
        uses: mxschmitt/action-tmate@v3

      #### Developer note: You probably don't need this
      - name: Run ALKiln - Env vars for our own tests from server output
        run: |
          echo "USER1_EMAIL=${{ steps.github_server.outputs.DA_ADMIN_EMAIL }}" >> $GITHUB_ENV
          echo "USER1_PASSWORD=${{ steps.github_server.outputs.DA_ADMIN_PASSWORD }}" >> $GITHUB_ENV

      #### Developer note:
      #### Example of working with the docker container after it's been
      #### started. For example, you can make more users with different
      #### permissions and passwords
      #- name: Work with docker
      #  run: |
      #    container_name=$(docker ps --format '{{.Names}}' | head -n 1)
      #    echo "container_name is $container_name"

      - name: "Run ALKiln tests"
        if: ${{ success() }}
        #### Developer note: you'll need to replace `.` with the path to
        #### the repo and branch and leave off the trailing `/`
        #### For example suffolkLITLab/ALKiln@v5
        uses: ./
        with:
          SERVER_URL: "${{ steps.github_server.outputs.SERVER_URL }}"
          DOCASSEMBLE_DEVELOPER_API_KEY: "${{ steps.github_server.outputs.DOCASSEMBLE_DEVELOPER_API_KEY }}"
          INSTALL_METHOD: "server"
          #### Developer note: Useful for temporarily shortening ALKiln tests
          #### to debug the docker install step
          # ALKILN_TAG_EXPRESSION: @a_tag_expression

