name: Playground installation

on:
  push:
  # Default: opened, reopened, synchronize. "edited" is not what we want.
  pull_request_target:
  workflow_dispatch:
    inputs:
      tags:
        required: False
        description: 'Optional. Use a "tag expression" specify which tagged tests to run (https://cucumber.io/docs/cucumber/api/#tag-expressions)'
        default: ''

jobs:

  puppeteer-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    env:
      #### Developer note: Required
      SERVER_URL: ${{ secrets.SERVER_URL }}
      DOCASSEMBLE_DEVELOPER_API_KEY: ${{ secrets.DOCASSEMBLE_DEVELOPER_API_KEY }}
      #### Developer note: you don't need any of these
      # Specific to our repo's tests
      PLAYGROUND_EMAIL: ${{ secrets.PLAYGROUND_EMAIL }}
      PLAYGROUND_PASSWORD: ${{ secrets.PLAYGROUND_PASSWORD }}
      PLAYGROUND_ID: ${{ secrets.PLAYGROUND_ID }}
      USER1_EMAIL: ${{ secrets.USER1_EMAIL }}
      USER1_PASSWORD: ${{ secrets.USER1_PASSWORD }}
      SECRET_VAR1: secret-var1-value
      SECRET_VAR2: secret-var2-value
      SECRET_FOR_MISSING_FIELD: secret for missing field
      # Internal
      _ORIGIN: github

    name: Run ALKiln tests
    steps:
      #### Developer note: You probably don't need this
      # Place the root directory in this branch to access
      # relative paths to action files
      - uses: actions/checkout@v3

      #### Developer note: you'll need to replace `.` with the path to
      #### the repo and branch and leave off the trailing `/`
      #### For example suffolkLITLab/ALKiln@v5
      - uses: ./
        with:
          SERVER_URL: "${{ env.SERVER_URL }}"
          DOCASSEMBLE_DEVELOPER_API_KEY: "${{ env.DOCASSEMBLE_DEVELOPER_API_KEY }}"
          #### Developer note: Useful for temporarily shortening ALKiln tests
          #### to debug the docker install step
          # ALKILN_TAG_EXPRESSION: @a_tag_expression
