name: Test the tests

on:
  push:
  workflow_dispatch:
    inputs:
      extra_languages:
        description: 'Optional. A list of comma separated language names visible on buttons or links that change the language of the interview. Overrides the EXTRA_LANGUAGES repo secret.'
        default: ''
      tags:
        description: 'Optional. Use a "tag expression" specify which tagged tests to run (https://cucumber.io/docs/cucumber/api/#tag-expressions)'
        default: ''

jobs:

  puppeteer-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [17.x]

    env:
      BASE_URL: ${{ secrets.SERVER_URL }}
      PLAYGROUND_EMAIL: ${{ secrets.PLAYGROUND_EMAIL }}
      PLAYGROUND_PASSWORD: ${{ secrets.PLAYGROUND_PASSWORD }}
      PLAYGROUND_ID: ${{ secrets.PLAYGROUND_ID }}
      DOCASSEMBLE_DEVELOPER_API_KEY: ${{ secrets.DOCASSEMBLE_DEVELOPER_API_KEY }}
      BRANCH_PATH: main
      EXTRA_LANGUAGES: ${{ secrets.EXTRA_LANGUAGES }}
      REPO_URL: https://github.com/plocket/docassemble-ALAutomatedTestingTests
      USER1_EMAIL: ${{ secrets.USER1_EMAIL }}
      USER1_PASSWORD: ${{ secrets.USER1_PASSWORD }}
      SECRET_VAR1: secret-var1-value
      SECRET_VAR2: secret-var2-value
      SECRET_FOR_MISSING_FIELD: secret for missing field

    name: Run Puppeteer tests
    steps:
      - name: Set languages
        run: echo "EXTRA_LANGUAGES=${{ github.event.inputs.extra_languages }}" >> $GITHUB_ENV
        if: ${{ github.event.inputs.extra_languages != '' }}
      # For the testing repo, the `REPO_URL` is that of a different repo and is created in `env:`
      - run: echo "Repo address is $REPO_URL"
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run setup
      - run: npm run test -- ${{ github.event.inputs.tags && format('"--tags" "{0}"', github.event.inputs.tags) }}
      - name: upload error artifacts
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: errors
          path: ./**/error*.jpg
      - name: upload screenshot steps
        uses: actions/upload-artifact@v2
        # They will upload even if a previosu step has failed
        if: ${{ always() }}
        with:
          name: screenshots
          path: ./**/screenshot*.jpg
      - name: upload downloads
        uses: actions/upload-artifact@v2
        # They will upload even if a previous step has failed
        if: ${{ always() }}
        with:
          name: downloads
          path: ./**/downloads_*
      - name: upload report
        uses: actions/upload-artifact@v2
        # They will upload even if a previous step has failed
        if: ${{ always() }}
        with:
          name: report
          path: ./**/*_report_*
      - name: log artifact
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: log file
          path: ./log.txt
      - name: Cleanup
        if: ${{ always() }}
        run: npm run takedown
